<div class="banner-index d-flex align-items-center justify-content-center mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('gnomes_house.jpg')%>">
  <h1>Our magical Gnomes</h1>
</div>

<div class="container">
  <i class="fas fa-chevron-left mb-5"></i><%= link_to "  Back", root_path, id:"music-btn" %>
  <div class="cards">
    <% if @gnomes.present? %>
      <% @gnomes.each do |gnome| %>
        <%= link_to gnome_path(gnome), class: "text-decoration-none" do %>
          <div class="card-gnome p-0">
            <div class="card-img" style="background-image: url('<%= cl_image_path gnome.photo.key %>')">
            </div>
              <div class="card-gnome-info">
                 <h3 class="gnome-name"><%= gnome.name %></h3>
                 <p class="title">Power</p>
                 <p> <%= gnome.power %></p>
                 <p class="title">About</p>
                 <p> <%= gnome.description %> </p>
                 <p class="price w-25"> €<%= gnome.price %> </p>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <div id="map"
         style="width: 100%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
    <% end %>
</div>



<script>
  function loadImage() {
  let audio_file = new Audio('https://www.soundjay.com/misc/magic-chime-01.mp3')
  audio_file.play();
  }
  loadImage()
</script>
