<div class="gnome-container col-sm-6 col-lg-12">
  <%= link_to root_path do %>
    <i class="fas fa-arrow-circle-left", id="music-btn"></i>
  <% end %>
  <div class="card-gnome d-flex justify-content-between">
    <div class="card-gnome-infos">
      <%= cl_image_tag @gnome.photo.key, height: 400, width: 400, crop: :fill %>
    </div>
      <div class="calendar">
        <h1> <%= @gnome.name %></h1>
        <h5> <%= @gnome.power %></h5>
        <p> <%= @gnome.description %> </p>
        <h2 class="card-gnome-pricing"><%= @gnome.price %> €</h2>
          <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
            <h2>Your Reservation Date</h2>
            <%= simple_form_for [@gnome, @booking] do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <div class="form-buttons">
                <%= f.button :submit, "Book Gnome", class: "btn btn-primary" %>
              </div>
            <% end %>
        </div>
      </div>
        <div class="calendar">
          <h1> <%= @gnome.name %></h1>
          <h5> <%= @gnome.power %></h5>
          <p> <%= @gnome.description %> </p>
          <h2 class="card-gnome-pricing"><%= @gnome.price %> €</h2>
            <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
              <h2>Your Reservation Date</h2>
              <%= simple_form_for [@gnome, @booking] do |f| %>
                <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <div class="form-buttons">
                  <%= f.button :submit, "Book Gnome", class: "btn btn-primary" %>
                  <%= link_to "Back", gnomes_path %>
                </div>
              <% end %>
            </div>
        </div>
  </div>
  <div class="col-sm-4 col-lg-12" id="map" style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        <%= cl_image_tag @gnome.photo.key, height: 400, width: 400, crop: :fill%>
  </div>
</div>
