<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('forest.jpg')%>">
  <div class="main-container">
    <h1>Behold the Gnomes</h1>
    <div class="btn btn-light">
      <%= link_to "Behold", gnomes_path %>
    </div>
  </div>
</div>
<div class="container">
    <h1 class="title-homepage">Bring their magic home with you</h1>
  <div class="card-container">
    <% @gnomes.each do |gnome| %>
      <%= link_to gnome_path(gnome) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path gnome.photo.key, height: 300, crop: :fill %>')">
        <p><%= gnome.name %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<figure class="rainbow bands"></figure>
<figure class="rainbow smooth"></figure>
