<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('forest.jpg')%>">
  <div class="main-container col-sm-6 col-lg-12">
    <h1>Behold the Gnomes</h1>
    <div class="btn btn-light">
      <%= link_to "Discover", gnomes_path %>
    </div>
  </div>
</div>
<div class="container">
  <div class="title-paragraph-homepage">
    <h3 class="title-homepage mb-3">Feeling lonely while gardening?</h3>
    <p>We have the right solution for you. Rent our magical Gnomes until you run their powers out!</p>
    </div>
  <div class="card-container">
    <div class="row">
      <% @gnomes.each do |gnome| %>
      <div class="d-flex justify-content-between col-sm-6 col-md-4 class_style">
      <%= link_to gnome_path(gnome) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path gnome.photo.key, height: 300, crop: :fill %>')">
        <p><%= gnome.name %></p>
      </div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
