<div class="banner-index d-flex align-items-center justify-content-center mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('mushrooms.jpg')%>">
  <h1>My bookings</h1>
</div>
<div class="flex-center mt-4" data-controller="counter">
  <div class="counter">
    <span data-counter-target="count"><%= @booking_count %></span>
  </div>
</div>

<div class="container">
  <i class="fas fa-chevron-left mb-5"></i><%= link_to "  Back", root_path, id:"music-btn" %>
    <% @bookings.each do |booking| %>
    <div class="card-horizontal">
      <%= cl_image_tag booking.gnome.photo.key, height: 250, width: 240, crop: :fill, radius: 8 %>
      <div class="card-horizontal-info">
        <h3 class="gnome-name-title"><%= booking.gnome.name %></h3>
        <p class="title">Power</p>
        <p><%= booking.gnome.power %></p>
        <p class="title">Start Date</p>
        <p><%= booking.start_date %></p>
        <p class="title">End Date</p>
        <p class="end-date"><%= booking.end_date %></p>
      </div>
      <div class="status">
        <p>Complete</p>
      </div>
    </div>
    <% end %>
  </div>
</div>
